.popup-tag{
    position:absolute;
    display:none;
    background-color:#785448d4;
    color:white;
    padding:10px;
    font-size:20px;
    font-weight:bold;
    text-decoration:underline;
    cursor:pointer;
    -webkit-filter: drop-shadow(0 1px 10px rgba(113,158,206,0.8));
    overflow: scroll;
    max-height: 400px;
}

body {
    background-color: black;
}

.heading {
    color: #70a870;
    font-size: 48px;
    text-align: center;
}

.heading-div {
    background-color:black;
}

.main-content {
    background-color:silver;
    padding:10px;
    }

.custom-query {
    overflow: scroll;
    height: 125px;
    margin-bottom: 10px;
}

.custom-query-label {
    margin-top: 10px;
}

#text-box {
    background-color: white;
    overflow: scroll;
    height: 80vh;
    border:1px solid black;

}